#fish1 {
    top: 50%;
    left: 4%;
    z-index: 20;
}

#fish2 {
    top: 55%;
    right: 3%;
    z-index: 20;
}

#fish3 {
    top: 65%;
    right: 6%;
    z-index: 20;
}

#fish4 {
    top: 70%;
    left: 5%;
    z-index: 20;
}

#fish5 {
    top: 60%;
    left: 10%;
    z-index: 20;
}

.fishes {
    opacity: .8;
    position: absolute;
}