body {
  margin: 0;
  background-color: #077eab;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

.content {
  display: flex;
  min-height: 100vh;
  line-height: 1.1;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.content h1 {
  font-size: 3.6rem;
  font-weight: 700;
}

.content p {
  font-size: 1.2rem;
  font-weight: 400;
  opacity: 0.5;
}

.svg {
  width: 350px;
}

.container {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  margin-top: -30pc;
}

.canvas {
  overflow: unset;
  top: -85%;
  left: -38%;
  height: -webkit-fill-available;
  position: absolute;
}

.animation {
  display: block;
	position: relative;
	z-index: 10;
}

.animation_layer {
	background-position: bottom center;
  background-size: cover;
	background-repeat: repeat-x;
	width: 100%;
	position: absolute;
}

.animation_layer.parallax {
	position: fixed;
}

.desc-top {
  top: 20%;
  position: relative;
  justify-content: center;
  text-align: center;
  display: flex;
}

#bg1 {
  background-image: url('/public/images/beach/1.png');
  min-height: 100%;
}


#bg2 {
  background-image: url('/public/images/beach/2.png');
  min-height: 100%;
}

#bg3 {
  background-image: url('/public/images/beach/3.png');
  min-height: 100%;
}

#bg4 {
  background-image: url('/public/images/beach/4.png');
  min-height: 100%;
  top: -16%;
}

#bg5 {
  background-image: url('/public/images/beach/5.png');
  min-height: 100%;
}

#bg11 {
  background-image: url('/public/images/sea/1.png');
  min-height: 100%;
}

#bg12 {
  background-image: url('/public/images/sea/2.png');
  min-height: 100%;
}

#bg13 {
  background-image: url('/public/images/sea/3.png');
  min-height: 100%;
}

#bg14 {
  background-image: url('/public/images/sea/4.png');
  min-height: 100%;
}

#bg15 {
  background-image: url('/public/images/sea/5.png');
  min-height: 100%;
}